<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
</head>
<body>
    <h1>Object Detection</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg">
        <input type="submit" value="Upload">
    </form>
    {% if image %}
    <h2>Detected Image</h2>
    <img src="{{ url_for('show_image', filename=image) }}" alt="Detected Image">
    {% endif %}
</body>
</html>
